@{
    ViewBag.Title = "Home Page";
}
<div class="container main-container pt-3 pb-3 h-100">
    <div class="col-sm-12">
        <p class="lead">Bienvenue sur TheArena, votre nouvelle plateforme d'organisation de tournois vidéoludiques.</p>

        @if (Model.Length == 0)
        {
            if (User.Identity.IsAuthenticated)
            {
                <p>Nous n'avons pas trouvé de tournoi sur la plateforme, pourquoi ne pas créer le votre ?</p>
            }
            else
            {
                <p>Vous n'êtes pas authentifié(e), pourquoi ne pas <a href="@Url.Action("Index","Login")">vous connecter</a> ou <a href="@Url.Action("Register","Login")">créer un compte</a> ?</p>
            }


        }
        else
        {
            <h4>Tournois récemment mis à jour :</h4>
            <ul>
                @foreach (var item in Model)
                {
                    <li> @item.Name </li>
                }
            </ul>
        }

        @{
            //TODO: lien vers la page de creation de tournoi
            //TODO: lien vers la page de chacun des tournois
        }

    </div>
</div>

