/* Général ------------------------------------------------------------------------------------- */

.formulaire-inscription {
    margin-left: 30%;
    margin-right: 30%;
    paddin-right: 5%;
    padding-left: 5%;
    background-color: white;
}


fieldset {
    padding: 10px;

}

legend {
    font-weight: bold;
    color: black;
    padding-top: 10%;
}

/* Forms --------------------------------------------------------------------------------------- */

form label {
    float: left;
    width: 200px;
    margin: 3px 0px 0px 0px;
}

form input {
    margin: 3px 3px 0px 0px;
    border: 1px #999 solid;
}

form input.sansLabel {
    margin-left: 200px;
    margin-top: 1%;
    margin-bottom: 5%;
}

form .requis {
    color: #000000;
}

form .erreur {
    color: #900;
}

form .succes {
    color: #090;
}