@model TheArena.Models.TeamGeek

@{
    ViewBag.Title = "Delete";
}


<h3>Supprimer le joueur @Html.DisplayFor(model => model.Geek.Username) de votre équipe ?</h3>
<div>
    <hr />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-outline-danger" />             
            @Html.ActionLink("Retourner à la page de l'équipe", "Index", null, new { @class = "btn btn-outline-dark" })
        </div>
    }
</div>
